body {
background-color: rgb(220, 28, 28)
color:black;
font-family: ''Chakra petch'' , sans-serif;
margin: 0px                                                                                                 
}